{% extends 'base.html.twig' %}

{% block title %}Hello MatiereController!{% endblock %}

{% block body %}
  <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h1 class="text-center">{{ 'ajoutermat'|trans }}</h1>

        {{ form_start(form) }}
        <div class="form-group">
          {{ 'nom'|trans }}
          {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
          {{ 'coefficient'|trans }}
          {{ form_widget(form.coef, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group text-center">
          <button type="submit" class="btn btn-primary">{{ 'ajouter'|trans }}</button>
        </div>
        {{ form_end(form) }}
      </div>
    </div>

    <div class="row mt-4 justify-content-center">
      <div class="col-md-8">
        <h1 class="text-center">{{ 'listemat'|trans }}</h1>

        {% if matieres is not empty %}
          <div class="row">
            {% for element in matieres %}
              <div class="col-md-6">
                <div class="card mb-3">
                  <div class="card-body">
                    <h3 class="card-title">{{ element.nom }}</h3>
                    <p class="card-text">{{ 'coefficient'|trans }} {{ element.coef }}.</p>
                    <a href="{{ path('matiere_show', {'id': element.id}) }}" class="btn btn-primary btn-sm">{{ 'details'|trans }}</a>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        {% else %}
          <p class="text-center">{{ 'il n\'y a pas de matières'|trans }}</p>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
